.buttons{
    font-size: 200%;
    height: 50px;
    font-family: sans-serif;
    margin: 1px;
    position: relative;
    vertical-align: top;
    width: 50px;
    z-index: 0;
}
#number-select{
    background: #222;
    color: #aaa;
    display: none;
    font-size: 140%;
    height: 150px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 150px;
    z-index: 1;
}
#number-select a{
    font-size: 120%;
}
.settings-td{
    padding: 9px;
    text-align: left;
    width: 50%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
