a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color: #777;
}
.big{
    font-size: 123%;
}
body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
.bottom{
    bottom: 0;
    left: 10%;
    position: absolute;
}
.buttons{
    font-size: 200%;
    height: 50px;
    font-family: sans-serif;
    margin: 1px;
    position: relative;
    vertical-align: top;
    width: 50px;
    z-index: 0;
}
#game-area{
    min-width: 476px;
}
input{
    background: #000;
    color: #aaa;
}
input[type=button]:not([disabled]){
    cursor: pointer;
}
input[type=range]{
    cursor: pointer;
    width: 75px;
}
.left{
    width: 50%;
}
#locked,
#y-margin{
    width: 75px;
}
#number-select{
    background: #222;
    color: #aaa;
    display: none;
    font-size: 140%;
    height: 150px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 150px;
    z-index: 1;
}
#number-select a{
    font-size: 120%;
}
#settings{
    display: none;
}
